<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 footer-about">
        <a routerLink="/" class="logo d-flex align-items-center">
          <span class="sitename">NOVASALUD</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Av. Guardia Civil Sur 1373</p>
          <p>Chorrillos, Lima 15058, Perú</p>
          <p class="mt-3"><strong>Teléfono Principal:</strong> <span>+51 (1) 456-7890</span></p>
          <p><strong>Línea de Citas:</strong> <span>+51 (1) 456-7891</span></p>
          <p><strong>Email:</strong> <span>info@novasalud.pe</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Enlaces Rápidos</h4>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/about-us">Nosotros</a></li>
          <li><a routerLink="/services">Servicios</a></li>
          <li><a routerLink="/doctors">Doctores</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Especialidades Top</h4>
        <ul>
          <li><a routerLink="/services/cardiologia">Cardiología</a></li>
          <li><a routerLink="/services/neurologia">Neurología</a></li>
          <li><a routerLink="/services/ortopedia">Ortopedia</a></li>
          <li><a routerLink="/services/oncologia">Oncología</a></li>
          <li><a routerLink="/services/pediatria">Pediatría</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Información</h4>
        <ul>
          <li><a routerLink="/appointment">Reservar Cita</a></li>
          <li><a routerLink="/contact">Contáctenos</a></li>
          <li><a routerLink="/services/laboratorio">Laboratorio Clínico</a></li>
          <li><a routerLink="/services/imagenes">Imágenes Diagnósticas</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">NOVASALUD</strong> <span>Todos los derechos reservados</span></p>
  </div>

</footer>
