<nav class="navbar navbar-expand-lg sticky-top"
  [ngClass]="isDarkMode ? 'navbar-dark' : 'navbar-light'"
  [style]="isDarkMode ? 'background-color: #101d23;' : 'background-color: #ffffff;'">


  <div class="container-fluid d-flex" >
    <a class="navbar-brand d-flex align-items-center" routerLink="inicio">
      <img alt="Logo" class="me-2"  src="hospital-icon.png" width="40" />
      NovaSalud
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-labelledby="offcanvasNavbarLabel">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-lg-row flex-md-column offcanvas offcanvas-end " id="bdSidebar">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-between w-100">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="inicio">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="especialidades">Especialidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center " >
          <div class="d-flex align-items-center me-2">
            <div class="form-check form-switch">
              <input class="form-check-input" id="darkModeSwitch" role="switch" type="checkbox" (click)="toggleDarkMode()" />
            </div>
            <label class="form-check-label" for="darkModeSwitch">
              <img id="icon" alt="Light Mode" [src]="isDarkMode ? 'sun-icon.png' : 'moon-icon.png'" width="30"
              [style]="isDarkMode ? 'filter: invert(1);' : ''"/>
            </label>
          </div>
          <div>
            <a class="btn btn-outline-primary me-2" >Iniciar Sesión</a>
            <a class="btn btn-primary " >Registrarse</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</nav>
<router-outlet/>
