<footer class="py-4 mt-0 border-top" style="background-size: cover;" >
  <div class="container-fluid m-auto" >
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center text-white">
      <div class="text-center text-md-start mb-3 mb-md-0">
        <a class="me-3 text-decoration-none" href="#">Política de Privacidad</a>
        <a class="me-3 text-decoration-none" href="#">Términos de Servicio</a>
        <a class="text-decoration-none " href="#">Contacto</a>
      </div>
      <p class="mb-0">© 2025 NovaSalud. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
